<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department_id %>
</p>

<p>
  <strong>Department name:</strong>
  <%= @employee.department_name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @employee.group_id %>
</p>

<p>
  <strong>Group name:</strong>
  <%= @employee.group_name %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
