<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @event.leader_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @event.group_id %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @event.restaurant_id %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @event.starts_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @event.end_at %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
